*.o
.project
.cproject
bin/*
lib/
src/viewer/*Moc.cpp
ext/stann1.6
doc/
*.pts
*.ply
*.nor
Makefile.options
src/viewer/MainWindow.cpp
src/viewer/MatrixDialog.cpp
src/viewer/MoveDock.cpp
src/viewer/ObjectDialog.cpp
build/